NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://nome-usuario:senha@localhost:5432/nome-banco-dados?schema=public"
JWT_SECRET="gerar-chave-token-para-jwt-de-32-caracteres"
JWT_EXPIRES_IN=1d
CORS_ORIGIN=http://localhost:5173
ADMIN_EMAIL=email-do-administrador-do-sistema
ADMIN_PASSWORD=senha-do-admin-minimo-8-caracteres